@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --color-brand-primary: #111827;
  --color-brand-surface: #1F2937;
  --color-brand-neutral: #E5E7EB;
  --color-brand-accent: #F47A20;
  --color-brand-light: #F8FAFC;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-manrope);
}

